.TeaCards {
  display: grid;
  justify-content: center;
  grid-auto-rows: auto;
  gap: var(--main-grid-gap);
  grid-template-columns: repeat(1, 1fr);
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    // grid-template-columns: repeat(auto-fill, var(--card-width));
  }
}
