.skeleton {
  .Offer * {
    opacity: 0;
  }
  .title {
    opacity: 0;
  }
  .description {
    opacity: 0;
  }
}

.drawer {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: white;
  border-left: 1px solid rgb(225, 225, 225);
  color: var(--text-color);
  overflow-y: auto;
  overflow-y: overlay;
  box-shadow: var(--main-shadow);
  width: 100vw;
  z-index: 100;
  opacity: 1;
  padding: 2rem 0.75rem;
  &.closed {
    display: none;
    opacity: 0;
  }

  @media screen and (min-width: 1024px) {
    padding: var(--main-padding-plus);
    width: var(--detail-width);
    transition: transform 150ms ease, opacity 150ms ease;
    &.closed {
      display: block;
      transform: translate(100%);
    }
  }
}

.DetailButton {
  --size: 36px;
  appearance: none;
  border: var(--border);
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  position: fixed;
  right: 24px;
  margin: 0;
  &:hover {
    background-color: #effaff;
  }
  @media screen and (min-width: 1024px) {
    right: var(--detail-button-offset);
  }
  .value {
    display: inline-block;
    font-size: 2rem;
    position: relative;
    bottom: 2.5px;
    height: 36px;
    color: var(--grey-medium);
    user-select: none;
  }
}
.Close {
  top: 28px;
  @media screen and (min-width: 1024px) {
    top: 18px;
  }
}
.Link {
  top: 96px;
  @media screen and (min-width: 1024px) {
    top: 80px;
  }
  .value {
    font-size: 1rem;
    bottom: -6px;
    filter: grayscale(1);
    opacity: 0.6;
  }
  text-decoration: none;
}
