.Lines {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  padding: 0.5rem 0 0.8rem;
  position: relative;
}
.Line {
  --color: rgb(216, 216, 216);
  width: 200px;
  border-bottom: solid 1px var(--color);
  height: 14px;
  position: relative;
  grid-column: 2 / span 2;
  &:before,
  &:after {
    position: absolute;
    border-left: solid 1px var(--color);
    content: "";
    bottom: -5px;
    height: 10px;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
  .Label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    margin-left: -13px;
    // border: 1px solid rgb(53, 53, 53);
    background-color: white;
    position: absolute;
    z-index: 100;
  }
}
.Percentile {
  margin: 1rem 0 2rem;
  h3,
  h5 {
    margin: 0rem;
    color: rgb(152, 152, 152);
  }
  h5 {
    position: relative;
    top: 5px;
  }
}

.LabelWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.8rem;
  display: flex;
  justify-content: center;
  .LinesLabel {
    border: 1px solid rgb(242, 211, 201);
    border-radius: 100px;
    background-color: white;
    padding: 0.2rem 1rem;
    display: block;
    font-size: 0.8rem;
    color: #9d9794;
    font-weight: bold;
  }
}
