.table {
  display: grid;
  align-items: center;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 140px);
  grid-auto-rows: auto;
  justify-items: center;
}
.Table {
  height: 58px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.table--fit {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.TableHeading {
  border-bottom: var(--border);
}

.TableRow {
  border-bottom: var(--border);

  &:first-of-type {
    border-top: var(--border);
  }
}

sup {
  font-size: 0.75rem;
}
