.table {
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  justify-items: center;
}

.table--fit {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.TableHeading {
  border-bottom: var(--border);
}

.TableRow {
  border-bottom: var(--border);

  &:first-of-type {
    border-top: var(--border);
  }
}

sup {
  font-size: 0.75rem;
}
