.subject-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.subject-selector.global {
  margin-bottom: 2rem;
}

.button.button--subject {
  --size: 0.6rem;
  --ratio: 1.75;
  font-size: var(--size);
  min-width: calc(var(--ratio) * var(--size));
  min-height: calc(var(--ratio) * var(--size));
  padding: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: var(--ratio);
}

.fade {
  opacity: 0.15;
  transition: opacity 200ms ease-out, color 100ms ease-out;
}
.fade button {
  color: transparent;
  border: 1px solid rgb(162, 162, 162);
}
.fade:hover {
  opacity: 1;
}
.fade:hover button {
  color: rgb(89, 89, 89);
}
.fade button:disabled {
  background-color: rgb(162, 162, 162);
}

.fade:hover button:disabled {
  color: rgb(114, 114, 114);
  border: 1px solid rgb(147, 147, 147);
  background-color: rgb(239, 239, 239);
}
.subject-selector.global .button--subject {
  width: 3rem;
  height: 3rem;
  font-size: 1.05rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.subject--white-balanced {
  --size: 22px;
  position: relative;
  padding: 0;
  margin-bottom: 4px;
  .WhiteBalance {
    display: none;
    position: absolute;
    bottom: calc(-1 * var(--size) / 4);
    right: calc(-1 * var(--size) / 4);
    padding: 0;
    min-width: var(--size);
    width: var(--size) !important;
    min-height: var(--size);
    height: var(--size);
    &.toggle {
      background-color: white;
      border-color: lightgrey;
    }
  }
  &.soup .WhiteBalance.toggle.checked {
    background-color: #f8efff;
    border-color: #ad52ee;
  }
}
