.Stats {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
  .StatText {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .StatText {
      display: inline-block;
    }
  }
  .Stat {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;

    margin: 0 1px;
    border-radius: 8px;
    color: #333333dd;
    text-decoration: none;
    font-variant: none;
    &.small {
      .StatText {
        display: none;
      }
    }
    &:hover {
      cursor: pointer;
    }

    --pink: #ff99c888;
    --yellow: #fbf4b4cd;
    --green: #d0f4de88;
    --blue: #a9def988;
    --purple: #d7a6f488;
    &.raw {
      background-color: var(--purple);
    }
    &.ripe {
      background-color: var(--pink);
    }
    &.white {
      background-color: var(--yellow);
    }
    &.black {
      background-color: var(--blue);
    }
    &.oolong {
      background-color: var(--green);
    }
  }
}
