.Stats {
  margin-bottom: 2rem;
  .StyleBars {
    margin-bottom: 0.5rem;
    @media screen and (min-width: 768px) {
      margin-bottom: 1rem;
    }
  }
}
.StyleBars {
  display: flex;
  flex-direction: row;
  width: 100%;

  .StatText {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .StatText {
      display: inline-block;
    }
  }
  .Stat {
    height: 24px;
    padding: 0 8px;
    @media screen and (min-width: 768px) {
      height: 42px;
      padding: 0 1.5rem;
    }
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1px;
    border-radius: 8px;
    color: #333333dd;
    text-decoration: none;
    font-variant: none;
    &.small {
      padding: 0;
    }
    &.really-small.showPercent {
      .StatText {
        display: none;
      }
    }
    &:hover {
      cursor: help;
    }

    --pink: #ff99c888;
    --yellow: #fbf4b4cd;
    --green: #d0f4de88;
    --blue: #a9def988;
    --purple: #d7a6f488;
    &.Stat--raw {
      background-color: var(--purple);
    }
    &.Stat--ripe {
      background-color: var(--pink);
    }
    &.Stat--white {
      background-color: var(--yellow);
    }
    &.Stat--black {
      background-color: var(--blue);
    }
    &.Stat--oolong {
      background-color: var(--green);
    }
  }
}
.PercentileList {
  display: flex;
  justify-content: flex-start;
  // padding: 0.5rem 1rem;
  @media screen and (min-width: 768px) {
    justify-content: space-evenly;
    padding: 0;
  }
  align-items: center;
  max-width: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
  .PercentileCircle {
    margin: 0 0.5rem;
    @media screen and (min-width: 768px) {
      margin: 0;
    }
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .count {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 4px;
      font-size: 1.4rem;
      line-height: 1;
      &::before {
        content: "x";
        margin-right: 4px;
        font-size: 1rem;
      }
    }
  }
}
