.ListText {
  &:hover {
    cursor: pointer;
  }
  .name,
  .style {
    background-image: linear-gradient(
      to right,
      black 16%,
      rgba(255, 255, 255, 0) 0%
    );
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: bottom;
  }

  .year {
    font-weight: 200;
    text-align: center;
    width: 50px;
  }

  .style {
    font-weight: 200;
    text-align: end;
  }
}
