:root {
  --card-width: 342px;
  --sidebar-width: 120px;

  --main-padding: 1.5rem 0.6rem;
  --main-padding-plus: 1.5rem 1rem;
  --main-padding-top: 1.5rem;
  --main-padding-side: 0.6rem;
  --main-grid-gap: 1rem;

  --detail-width: 100vw;

  @media screen and (min-width: 450px) {
    --detail-width: calc(430px + 14px);
    --detail-button-offset: calc(426px);
  }

  --bg: white;
  --text-color: #464646;
  --pink: rgb(208, 89, 255);
  --border: 1px solid rgb(225, 225, 225);
  --light: rgb(225, 225, 225);
  --grey-medium: rgb(218, 218, 218);
  --main-shadow: rgba(124, 124, 150, 0.25) 0px 30px 60px -12px,
    rgba(211, 211, 211, 0.3) 0px 18px 36px -18px;
}

::selection {
  background: var(--pink);
  color: white;
}
::-moz-selection {
  background: var(--pink);
  color: white;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  width: 100vw;
  overflow-x: hidden;
}
iframe {
  display: none !important;
}

button,
.button,
body {
  font-family: "IBM Plex Mono", monospace;
}

main {
  margin-top: 1rem;
  padding: 1rem;
  min-height: 100vh;
  margin-left: var(--sidebar-width);
  // transition: margin-right 16ms ease;
  @media screen and (min-width: 1024px) {
    padding: 1.5rem 2rem;
    &.detail--open {
      margin-right: var(--detail-width);
    }
  }
}

.glow {
  color: var(--pink);
  text-shadow: 1px 1px 4px #ee00d2;
  font-weight: 200;
}

.controls--global::-webkit-scrollbar {
  display: none;
}

.controls--global .button {
  width: 100%;
}

.button,
button {
  appearance: none;
  color: rgb(70, 70, 70);
  min-height: 30px;
  font-size: 0.75rem;
  background-color: white;
  border: 1px solid lightgray;
  margin: 0.5rem;
  outline: none;
  transition: background-color 120ms ease;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgb(239, 250, 255);
  }

  &:enabled:hover {
    cursor: pointer;
  }
}

.radio.active,
.radio:disabled {
  border-color: rgb(173, 82, 238);
  background-color: rgb(248, 239, 255);
  box-shadow: 1px 1px 3px 1px #e0e0e0;
}

.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }

  &.checked {
    border-color: rgb(173, 82, 238);
    background-color: rgb(248, 239, 255);
  }
}
.toggle,
.button--filter {
  padding: 0 15px;
  border-radius: 90px;
}
.button--filter:disabled {
  border-color: #eea152;
  background-color: #fff6ef;
  box-shadow: 1px 1px 5px 5px #eea05245;
  position: sticky;
  bottom: -14px;
}

@keyframes shadow {
  0% {
    text-shadow: -3px 1px 5px #d400ba;
  }
  50% {
    text-shadow: -5px 2px 3px #0094d4;
    // text-shadow: -5px 2px 3px #00d43c;
  }
  100% {
    text-shadow: -3px 1px 5px #d400ba;
  }
}

.heading {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 100;
  text-shadow: -3px 1px 5px #d400ba;
  color: indigo;
  margin: 0;
  margin-bottom: 2rem;
  animation-name: shadow;
  // animation-duration: 5s;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-direction: alternate-reverse;
  animation-iteration-count: 1;
  &:hover {
    cursor: pointer;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label .icon {
  font-size: 1.2rem;
  display: block;
  margin: 0;
  margin-right: -0.5ch;
  margin-left: 0.5ch;
  height: 100%;
  line-height: 1;
}

.label .icon--plain {
  color: black;
}

.label .text {
  display: block;
  height: 100%;
  line-height: 2;
}

.button--sort {
  border-radius: 2px;
}

.responsive {
  width: 100%;
  height: auto;
}

body {
  --scrollbar-foreground: rgb(255, 202, 210);
  --scrollbar-background: rgb(252, 252, 252);
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
.drawer {
  --scrollbar-foreground: #a9def96b;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
  padding: 1px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
  background-clip: content-box;
  border-radius: 100px;
  border: 1px solid transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  .placeholder {
    --size: 80vw;
    width: var(--size);
    height: var(--size);
    @media screen and (min-width: 425px) {
      --size: 420px;
    }
  }
}
