:root {
  --sidebar-width: 100px;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

button,
body {
  font-family: 'IBM Plex Mono', monospace;
}

main {
  padding: 2rem;
  margin-left: var(--sidebar-width);
}

.controls--global {
  position: fixed;
  width: var(--sidebar-width);
  height: 100%;
  left: 0;
  top: 0;
  border-right: 1px solid rgb(225, 225, 225);
  padding: 1.5rem .6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  user-select: none;
}

@media screen and (min-width: 1024px) {
  .controls--global {
    box-shadow: rgba(124, 124, 150, 0.25) 0px 30px 60px -12px, rgba(211, 211, 211, 0.3) 0px 18px 36px -18px;
  }
}

.glow {
  color: rgb(208, 89, 255);
  text-shadow: 1px 1px 4px #ee00d2;
}



.controls--global::-webkit-scrollbar {
  display: none;
}

.controls--global button {
  width: 100%;
}

.button,
button {
  appearance: none;
  color: rgb(70, 70, 70);
  min-height: 30px;
  font-size: .75rem;
  background-color: white;
  border: 1px solid lightgray;
  margin: .5rem;
  outline: none;
  transition: background-color 120ms ease;
  &:hover {
    background-color: rgb(239, 250, 255);
  }

  &:enabled:hover {
    cursor: pointer;
  }
}

.radio:disabled {
  border-color: rgb(173, 82, 238);
  background-color: rgb(248, 239, 255);
  box-shadow: 1px 1px 3px 1px #e0e0e0;
}

.toggle {
  display: inline-flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  &.checked {
    border-color: rgb(173, 82, 238);
    background-color: rgb(248, 239, 255);
  }
}
.toggle, 
.button--filter {
  padding: 0 15px;
  border-radius: 90px;
}

@keyframes shadow {
  0% {
    text-shadow: -3px 1px 5px #d400ba;
  }
  50% {
    text-shadow: -5px 2px 3px #0094d4;
  }
  100% {
    text-shadow: -3px 1px 5px #d400ba;
  }
}

.heading {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  text-shadow: -3px 1px 5px #d400ba;
  color: indigo;
  margin: 0;
  margin-bottom: 2rem;
  animation-name: shadow;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  animation-direction: alternate-reverse;
  animation-iteration-count: 1;
}


.label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label .icon {
  font-size: 1.2rem;
  display: block;
  margin: 0;
  margin-right: -.5ch;
  margin-left: .5ch;
  height: 100%;
  line-height: 1;
}

.label .icon--plain {
  color: black;
}

.label .text {
  display: block;
  height: 100%;
  line-height: 2;
}

.button--sort {
  border-radius: 2px;
}