.ListText {
  display: grid;
  grid-template-columns: max-content max-content 1fr min-content;
  grid-gap: .5rem;

  .year {
    font-weight: 200;
  }

  .style{
    font-weight: 200;
  }

  .dots {
    background-image: linear-gradient(to right, black 16%, rgba(255,255,255,0) 0%);
    background-repeat: repeat-x;
    background-size: 6px 1px;
    background-position: bottom;
  }
}